* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.footer {
  max-width: 144rem;
  height: 39.2rem;
  background-color: lightyellow;
  margin: 0 auto;
}

.footer__top {
  height: 32.4rem;
  display: flex;
  padding-top: 4rem;
  padding-left: 12.9rem;
}

.footer-logo-image {
  width: 12.8rem;
  height: 4.4rem;
  background-image: url("/public/images/logo-colored.png");
  object-fit: cover;
}

.footer__top p {
  width: 27.6rem;
  height: 4.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: -0.2px;
  margin-top: 2.5rem;
}
