.product__details {
  margin-bottom: 200px;
  margin: 0 auto;
  max-width: 1180px;
  margin-top: 30px;
  display: flex;
  gap: 2rem;
}

.product__details-left {
  width: 500px;
  height: 500px;
  border: 1px solid #dedede;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__details-left img {
  width: 400px;
  height: 400px;
}

.product__details-right {
  width: 660px;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.product__details-right h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
}

.product__details-price {
  background-color: bisque;
  width: 12rem;
  height: 5rem;
  border-radius: 5px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__details-price p {
  font-weight: 500;
  font-size: 15px;
}

.product__details-desc {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 2rem;
}

.product__details-category {
  font-size: 14px;
  font-weight: 600;
  color: gray;
  margin-top: 2rem;
}
